{{- if eq . "length" "prototype" "constructor" -}}
property{{ucfirst .}}
{{- else if eq . "toString" -}}
methodToString
{{- else if eq . "Object" "Function" "Array" "String" "Boolean" "Number" "Math" "Date" "RegExp"
    "Error" "EvalError" "TypeError" "RangeError" "ReferenceError" "SyntaxError" "URIError" "JSON" -}}
class{{.}}Name
{{- else -}}
"{{.}}"
{{- end -}}
